.btnMp {
    width: 100%; /* El contenedor padre tomará el 100% del ancho */
    display: flex;
    justify-content: center; /* Para centrar el botón */
}

.checkout-btn {
    width: 100%; /* El botón ocupará el ancho total del contenedor */
    display: block;
}
